# Entorno virtual
venv/

# Variables de entorno
.env

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos temporales de sistema/editor
.DS_Store
*.swp
*.swo

# Archivos de Jupyter
.ipynb_checkpoints/
